<!doctype html>
<html lang="zh-cn">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Hello">
		<meta name="author" content="CC">
		<link rel="icon" href="http://www.bokecc.com/favicon.ico">
		
		<title>404</title>
		
		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="http://v3.bootcss.com/examples/cover/cover.css" rel="stylesheet">
		<style id="holderjs-style" type="text/css"></style>
	</head>

<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand"><a href="/">Home</a></h3>
					</div>
				</div>

				<div class="inner cover">
					<p class="lead">One meets its destiny on the road he takes to avoid it.</p>
				</div>
				<div class="mastfoot">
					<div class="inner">
						<p>
							Copyright ©  &nbsp;<a href="http://www.bokecc.com">bokecc.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/docs.min.js"></script>
</body>
</html>