 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">Hello</a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
       	 <li class="active"><a href="/"> 表格 </a></li>
       	 <li><a href="/user/recharge/list"> 表单 </a></li>
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
             <li><a href="/admin/password_change/">修改密码</a></li>
			 <li><a href="/accounts/logout/">退出</a></li>
             <li class="divider"></li>
             <li class="dropdown-header">管理</li>
             <li><a href="/admin">Admin</a></li>
           </ul>
         </li>
         <!-- admin -->
       </ul>
     </div><!--/.nav-collapse -->
  </div>
</nav>