<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Hello">
<meta name="author" content="CC">
<link rel="icon" href="http://www.bokecc.com/favicon.ico">

<title>Hello</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/signin.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<form class="form-signin" role="form" method="post">
			<h2 class="form-signin-heading">Hello</h2>
			<p>
				<input name="username" type="text" class="form-control" placeholder="Account" required="required" autofocus="autofocus" />
			</p>
			<p>
				<input name="password" type="password" class="form-control" placeholder="******" required="required" />
			</p>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		</form>
	</div>
</body>
</html>